body {
    font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
}

h1 {
    background-color: #e1d124ea;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.menu {
    background-color: #ddd;
    padding: 10px;
}

  .iframe-section {
            padding: 20px;
            border-top: 2px solid #eee;
        }

        .iframe-section h2 {
            margin-bottom: 15px;
            color: #555;
        }